name = "BioFlows"
uuid = "b64b6e3f-2b8e-4d14-86d2-6b8f5a3f1e40"
version = "1.0.0"
authors = ["Subhajit Kar <subhajitkar19@gmail.com>", "Dibyendu Ghosh <dibyendughosh.iitkgp@gmail.com>"]

[deps]
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
EllipsisNotation = "da5c29d0-fa7d-589e-88eb-ea29b0a81949"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
LoggingExtras = "e6f89c97-d47a-5376-807f-9c37f3926c36"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
PencilArrays = "0e08944d-e94e-41b1-9406-dcf66b6a9d2e"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"

[compat]
DocStringExtensions = "0.9"
EllipsisNotation = "1.8"
ForwardDiff = "0.10.18, 1"
KernelAbstractions = "0.9.1"
LoggingExtras = "1.1"
Preferences = "1.4"
Reexport = "^1.2.2"
Requires = "1.3"
StaticArrays = "^1.1.0"
julia = "1.10, 1.11"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
